.blogers-list {
  width: 100%;
  list-style: none;
  display: grid;
  padding: 0;
  grid-template-columns: repeat(4, minmax(250px, 311px));
  column-gap: 20px;
  row-gap: 50px;

  @include vp--1279 {
    grid-template-columns: repeat(3, minmax(250px, 311px));
    justify-content: space-around;
  }

  @include vp--1023 {
    grid-template-columns: repeat(3, minmax(230px, 311px));
  }

  @include vp--767 {
    grid-template-columns: repeat(2, minmax(200px, 311px));
  }
}
