.bloger-info {
  padding: 30px 40px 17px 40px;
}

.bloger-info__title {
  font-weight: 800;
  font-size: 50px;
  line-height: 61px;
  color: #eff3f5;
  margin: 0;
  padding-bottom: 43px;
  border-bottom: 1px solid #eff3f5;
  margin-bottom: 30px;
}
