.contacts-block {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 30px;
}

.contacts-block p {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #eff3f5;
  margin: 0;
  width: 187px;
}
