.contacts-block {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 30px;

  @include vp--767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}

.contacts-block p {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #eff3f5;
  margin: 0;
  width: 187px;

  @include vp--1023 {
    align-items: center;
    display: flex;
  }
}
