.video-item {
  position: relative;
}

.video-item::after {
  content: "";
  background-color: rgba(110, 16, 94, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-item__button {
  border: none;
  width: 60px;
  height: 60px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
}

.video-item__button svg:hover {
  fill: #eff5f5;
}

.video-item__button svg:active {
  fill: #6e105e;
}
